@font-face {
	src: url('../font/PressStart.ttf'),
}

#labels-panel{
	-fx-font-family: 'Press Start 2P', cursive;
	-fx-text-fill: black;
	-fx-font-size: 6pt;
}

.list-cell {
    -fx-background-color: transparent;
}
.list-view{
	-fx-background-color: transparent;
}

.text-field{
	-fx-background-radius: 15;
	-fx-font-family: 'Press Start 2P', cursive;
}

.button{
	-fx-background-image: url("../images/arrow_45px.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
	-fx-background-color: transparent;
}

.button:focused {
    -fx-background-image: url("../images/arrow_focused_45px.png");
}