@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.label{
	-fx-font-family: 'Press Start 2P', cursive;
	-fx-text-fill: white;
	-fx-font-size: 6pt;
	-fx-border-color: #f0c000;
	-fx-border-width: 5;
}